{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Create Post</title>
  <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <div class="auth-buttons">
  {% if request.user.is_authenticated %}
    <span>Welcome, {{ request.user.username }} </span>
    <a href="{% url 'logout' %}" class="button button-secondary">Logout</a>
  {% else %}
    <a href="{% url 'login' %}" class="button button-primary">Login</a>
    <a href="{% url 'register' %}" class="button button-secondary">Register</a>
  {% endif %}
</div>
<hr>
  <div class="container">
    <h1>Excited For New Post</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="button button-primary">Submit</button>
    </form>
    <a href="{% url 'index' %}" class="button button-secondary">Back to Home</a>
  </div>
</body>
</html>
